:root {
  --primColor: unset;
  --accentColor: unset;
  --altColor: unset;
  --iconColor: unset;
  --disabledColor: unset;
  --disabledFontColor: unset;
  --fontColor: unset;
  --hoverColor: unset;
  --backgroundColor: unset;
  --scrollColor: unset;
  --invalidColor: unset;
  --validColor: unset;
	--warningColor: unset;

  --mainFont: unset;
}
